{:name "Nuke Release"
 :tasks
 [{:name "Build Nuke (macOS)"
   :shell {:cmd "CONI_HOME=/Users/nico/cool/coni-lang PATH=\"$PATH:/usr/local/go/bin:/opt/homebrew/bin\" CGO_ENABLED=0 /tmp/coni-compiler build main.coni -o nuke"
           :cwd "."}}
  {:name "Build IntelliJ Plugin"
   :shell {:cmd "JAVA_HOME=~/.sdkman/candidates/java/17.0.10-tem ./gradlew buildPlugin"
           :cwd "nuke-intellij-plugin"}}
  {:name "Create Dist Folder"
   :shell {:cmd "rm -rf dist && mkdir -p dist/nuke/examples && cp nuke main.coni dist/nuke/ && rsync -a --exclude-from=.gitignore --exclude=example-spring-boot example-* dist/nuke/examples/ && cp nuke-intellij-plugin/build/distributions/*.zip dist/nuke/"
           :cwd "."}}
  {:name "Zip Dist"
   :shell {:cmd "cd dist && zip -r nuke-dist-$(date +%Y-%m-%d).zip nuke"
           :cwd "."}}]}
