{:name "Nuke Release"
 :tasks
 [{:name "Build Nuke (All Platforms)"
   :shell {:cmd "BUILD_ALL=1 bash ./build_nuke.sh && mkdir -p nuke-intellij-plugin/src/main/resources/bin && cp nuke-mac nuke-linux nuke.exe nuke-intellij-plugin/src/main/resources/bin/"
           :cwd "."}}
  {:name "Build IntelliJ Plugin"
   :shell {:cmd "./gradlew buildPlugin -x buildSearchableOptions"
           :cwd "nuke-intellij-plugin"}}
  {:name "Create Dist Folder"
   :shell {:cmd "rm -rf dist && mkdir -p dist/nuke/examples && cp nuke nuke.exe nuke-linux main.coni README.md CLA.md CODE_OF_CONDUCT.md CONTRIBUTING.md LICENSE README-LICENSING.md TRADEMARKS.md dist/nuke/ && rsync -a --exclude-from=.gitignore --exclude=example-spring-boot example-* dist/nuke/examples/ && cp nuke-intellij-plugin/build/distributions/*.zip dist/nuke/"
           :cwd "."}}
  {:name "Zip Dist"
   :shell {:cmd "cd dist && zip -r nuke-dist-$(date +%Y-%m-%d_%H-%M).zip nuke"
           :cwd "."}}]}
