{:name "Nuke Release"
 :tasks
 [{:name "Build Nuke (All Platforms)"
   :shell {:cmd "BUILD_ALL=1 bash ./build_nuke.sh && mkdir -p nuke-intellij-plugin/src/main/resources/bin && cp nuke-mac nuke-linux nuke.exe nuke-intellij-plugin/src/main/resources/bin/"
           :cwd "."}}
  {:name "Build IntelliJ Plugin"
   :shell {:cmd "./gradlew buildPlugin -x buildSearchableOptions"
           :cwd "nuke-intellij-plugin"}}
  {:name "Create Dist Folder"
   :shell {:cmd "rm -rf dist && mkdir -p dist/nuke/examples && cp nuke-mac nuke.exe nuke-linux main.coni README.md CLA.md CODE_OF_CONDUCT.md CONTRIBUTING.md LICENSE README-LICENSING.md TRADEMARKS.md prepare-airgap.sh prepare-airgap.bat dist/nuke/ && chmod +x dist/nuke/prepare-airgap.sh && rsync -a --exclude-from=.gitignore --exclude=example-spring-boot --exclude=.nuke-tmp --exclude=classes --exclude=std-classes --exclude=uber-classes --exclude=test-classes --exclude=target --exclude=libs --exclude=Manifest.txt example-* dist/nuke/examples/ && cp nuke-intellij-plugin/build/distributions/*.zip dist/nuke/ && cat << 'EOF' > dist/nuke/nuke\n#!/bin/sh\nDIR=\"$(cd \"$(dirname \"$0\")\" && pwd)\"\nif [ \"$(uname)\" = \"Darwin\" ]; then\n  exec \"$DIR/nuke-mac\" \"$@\"\nelif [ \"$(uname)\" = \"Linux\" ]; then\n  exec \"$DIR/nuke-linux\" \"$@\"\nelse\n  exec \"$DIR/nuke.exe\" \"$@\"\nfi\nEOF\nchmod +x dist/nuke/nuke"
           :cwd "."}}
  {:name "Test Packaged Nuke"
   :shell {:cmd "../../nuke uberjar"
           :cwd "dist/nuke/examples/example-java-app"}}
  {:name "Zip Dist"
   :shell {:cmd "cd dist && zip -r nuke-dist-$(date +%Y-%m-%d_%H-%M).zip nuke"
           :cwd "."}}]}
