{:name "example-java-utf8"
 :version "1.0.0"
 :main-class "com.example.Main"
 :encoding "UTF-8"
 
 ;; Optional: Specify custom JDK path to enforce a specific Java version
 ;; :java-home "/Library/Java/JavaVirtualMachines/zulu-17.jdk/Contents/Home"
 
 :javac-opts ["-Xlint:unchecked"
              "-Xlint:deprecation"
              "--release" "17"
              "-parameters"]}
