{:name "example-java-standard"
 :version "1.0.0"
 :group-id "com.example"
 
 :src-dir "src/main"
 
 :dependencies [{:coord "org.apache.commons:commons-lang3:3.12.0"
                 :exclusions ["org.apache.commons:commons-math3"]}]
 :test-dependencies ["junit:junit:4.13.2"]}
